#Core Stack
quart==0.20.0
quart_cors==0.8.0
quart-jwt-extended==0.1.0
SQLAlchemy==2.0.40
asyncmy==0.2.10
redis[async]>=4.2.0
uvicorn==0.34.2


#Task Queue
celery==5.4.0
redis==5.0.1

#Web/Data Scraping & Processing
requests==2.32.2
aiohttp==3.9.5
beautifulsoup4==4.12.3
cloudscraper==1.2.71
selenium==4.22.0
selenium-stealth==1.0.6
undetected-chromedriver==3.5.5
thefuzz==0.18.0
htmldom==2.0

#Optimization & Math
deap==1.4.1
PuLP==2.8.0
pandas==2.2.2
numpy==2.0.0

#Utilities / Config
python-dotenv==1.0.0
tenacity==9.0.0
colorama==0.4.6
pydantic==2.10.3

pytest==8.3.2
wheel==0.44.0
setuptools==75.1.0