.optimize {
    padding: 20px;
  }
  
  [data-theme='dark'] .optimize {
    background-color: #1c1c1c;
    color: white;
  }
  
  [data-theme='light'] .optimize {
    background-color: #ffffff;
    color: black;
  }
  
  [data-theme='dark'] .ant-card {
    background-color: #2c2c2c;
    color: white;
  }
  
  [data-theme='light'] .ant-card {
    background-color: #ffffff;
    color: black;
  }
  