:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #1c1c1c;
  --text-color-dark: #ffffff;
}

[data-theme='light'] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

[data-theme='dark'] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.ant-card {
  background-color: var(--background-color);
  color: var(--text-color);
}

.ant-list-item {
  background-color: var(--background-color);
  color: var(--text-color);
}

.ant-btn-link {
  color: var(--text-color);
}

/* Additional styles to ensure proper text color and background */
.ant-layout {
  background-color: var(--background-color);
  color: var(--text-color);
}

.ant-layout-header {
  background-color: var(--background-color);
  color: var(--text-color);
}

.ant-layout-content {
  background-color: var(--background-color);
  color: var(--text-color);
}

.ant-layout-footer {
  background-color: var(--background-color);
  color: var(--text-color);
}
